*{
    margin:0px;
    padding: 0px;
}
body{
    font-size:15px;
    color:white;
    background-color: darkslategray;
}

.navbar-brand a{
    color:white;
    font-size: 25px;
    margin-left: auto;
}
.navbar-toggler{
    color: white;

}

#home {
    padding-bottom: 20px;
    padding-left: -20px;
}
#main-content{
    padding-top: 20px;
     
}
article{
    background-color:grey;
}
.navbar-toggler{
    background-color:darkturquoise ;
    color:darkturquoise;
    
}
.nav-item{
    align-items: center;
    text-align: center;
    border:1px solid;

}
#navbarSupportedContent{
    border-top: white;
}
@media (max-width:992px) {
    #main-content{
        width: 78%;   
    }
}
#text-chicken{
    padding-top:10px;
}